
  <div class="card col-sm-6 col-md-4 mt-4">
    <% if @user.image.blank? %>
      <%= image_tag 'default_user.png', class: "img-fluid" %>
    <% else %>
      <%= image_tag @user.image.url, class: "img-fluid" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title text-secondary text-center"><%= @user.name %></h5>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">投稿記事数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><%= @user.posts.length %></td>
          </tr>
        </tbody>
      </table>
      <p class="card-text gray">
        <% if @profile.nil? %>
          よろしくお願いします。
        <% else @profile.content || @profile.region || @profile.website %>
          <p> <%= @profile.content %> </p>
          <p> <i class="fas fa-map-marker-alt"></i> <%= @profile.region %> </p>
          <p>
            <a href="<%= @profile.website %>" target="_blank" rel="noopener">
              <%= @profile.website %>
            </a>
          </p>
        <% end %>
      </p>
      <% if current_user == @user %>
        <% if @profile.blank? %>
          <%= link_to "プロフィールを書く", "/profiles/new/", class: "btn btn-secondary" %>
        <% else %>
          <%= link_to "プロフィールを編集する", edit_profile_path(@profile.id), method: :get, class: "btn btn-secondary" %>
        <% end %>
      <% end %>
    </div>
  </div>
