<div class="col-md-6 offset-md-3 px-5 mt-4">
  <div class="jumbotron px-5">
    <h2>Sign up</h2>
    </br>
    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <div class="field">
            <%= f.label :ニックネーム %><br/>
              <%= f.text_field :name, autofocus: true, maxlength: "6", size: 20,placeholder: "6文字以内で入力して下さい", class: 'form-control' %>
          </div></br>

          <div class="field">
          画像を選択してください
            <%= f.label :image, class: 'input-box__image' do %>
              <%= f.file_field :image, class: 'form-control'%>
            <% end %>
          </div>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %></br>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %></br>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
          </div>

          <div class="actions mt-2">
          </br>
            <%= f.submit "Sign up", class: 'btn btn-secondary' %>
          </div>
        </div>
        <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
