<div class="col-sm-6 col-md-4 col-lg-3 mb-3">
  <a href="<%= post.url %>" target="_blank" rel="noopener">
    <div class="zoomIn">
      <% if post.img.present? %>
        <img src="<%= post.img %>" width="200" height="200" class="card-img-top">
      <% else %>
        <img src="assets/noimage.jpg" width="200" height="200" class="card-img-top">
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= truncate(post.title.to_s, length:50)%></h5>
      <p class="card-text"><%= truncate(post.description.to_s, length:50)%></p>
    </div>
  </a>
    <div class="card-text d-flex justify-content-between">
      <a href="/users/<%= post.user.id %>">
        <%= post.user.name %>
      </a>
      <div>
        <% if current_user.already_liked?(post) %>
          <%= link_to post_like_path([post.id],id: post.id), method: :delete do %>
            <%= icon("fas", "heart text-success")%>
          <% end %>
        <% else %> 
          <%= link_to post_likes_path(post.id), method: :post do %>
            <%= icon("far", "heart text-success")%>
          <% end %>
        <% end %>
        <%= post.likes.count %>
      </div>
      <% if user_signed_in? && current_user.id == post.user_id %>
        <small>
          <%= link_to post_path(post.id), method: :delete do %> 
            <%= icon("fas", "trash-alt")%>
          <% end %>
        </small>
      <% end %>
    </div>
</div>