<div class="card-group">
  <% @posts.each do |post| %>
  <%url = post.url%>

    <% charset = nil %>
    <% html = open(url) do |f|
    charset = f.charset 
    f.read %> 
    <% end %>
    <% doc = Nokogiri::HTML.parse(html, charset)
    title = doc.title.to_s
    description = doc.css('//meta[property="og:description"]/@content').to_s
    img = doc.css('//meta[property="og:image"]/@content').to_s %>
  <div class="col-md-4 mb-3">
    <a href="<%= url %>" target="_blank" rel="noopener"> 
      <img src="<%= img %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= truncate(title, length:50)%></h5>
        <p class="card-text"><%= truncate(description, length:50)%></p>
      </div>
    </a>
      <p class="card-text text-right">
        <small>
          <%= link_to post_path(post.id), method: :delete do %> 
            <%= icon("fas", "trash-alt")%>
          <% end %>
        </small>
      </p>
  </div>
  <% end %>
</div>
