<!DOCTYPE html>
<html>
  <head>
    <title>TechRecommend</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render 'layouts/notifications'%>
  <%= render 'layouts/navbar'%>

    <%= yield %>
    <footer class="footer">
      <div class="container bg-light pt-2 pb-1">
        <p class="text-muted text-center ">&copy;2019 Tech Recommend. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
